In [1]:
'''
You are given two pandas DataFrames: sales_data and  product_info, which contain information about the product sales and product details, respectively .
#Sales Data: The sales_data DataFrame  has the following columns:
	‘Order_ID’(int): A unique identifier for each order.
	“Product_ID”(int): A unique identifier for each product
	“Quantity”(int): The quantity of the product sold in each order.
	“Revenue”(float): The revenue generated from the sale of the product.
#Product Information: The product_info DataFrame has the following columns:
	“Product_ID”(int): A unique identifier for each product.
	“Product_Name”(str): The name of the product.
	“Category”(str): The category to which the product belongs (e.g ‘Electronics’,’Clothing’,’Kitchen’ etc)
 Your task is to perform the following operations:
Task1 : Merge the sales_data and  product_info  DataFrames based on the ‘Product_ID’ column to create a new DataFrame sales_with_product_info.

Task2: Calculate the total revenue generated by each product category  and create a new data frame category_revenue  with columns “Category” and “Revenue”. Group the data by 
Category and calculate the sum of revenue for each category. After grouping the data ensure to reset the index and order the new data frame by increasing order of “Revenue”

Task3: Find the product category that generated the highest total revenue and display the category name along with the total revenue.

Task4:  Calculate the average revenue per order and add a new column 
“Average_Revenue_of_Order” to the sales_with_product_info DataFrame. To each row add the average revenue per order

Write a Python code to accomplish these tasks.

'''

'\nYou are given two pandas DataFrames: sales_data and  product_info, which contain information about the product sales and product details, respectively .\n#Sales Data: The sales_data DataFrame  has the following columns:\n\t‘Order_ID’(int): A unique identifier for each order.\n\t“Product_ID”(int): A unique identifier for each product\n\t“Quantity”(int): The quantity of the product sold in each order.\n\t“Revenue”(float): The revenue generated from the sale of the product.\n#Product Information: The product_info DataFrame has the following columns:\n\t“Product_ID”(int): A unique identifier for each product.\n\t“Product_Name”(str): The name of the product.\n\t“Category”(str): The category to which the product belongs (e.g ‘Electronics’,’Clothing’,’Kitchen’ etc)\n Your task is to perform the following operations:\nTask1 : Merge the sales_data and  product_info  DataFrames based on the ‘Product_ID’ column to create a new DataFrame sales_with_product_info.\n\nTask2: Calculate the total revenue generated by each product category  and create a new data frame category_revenue  with columns “Category” and “Revenue”. Group the data by \nCategory and calculate the sum of revenue for each category. After grouping the data ensure to reset the index and order the new data frame by increasing order of “Revenue”\n\nTask3: Find the product category that generated the highest total revenue and display the category name along with the total revenue.\n\nTask4:  Calculate the average revenue per order and add a new column \n“Average_Revenue_of_Order” to the sales_with_product_info DataFrame. To each row add the average revenue per order\n\nWrite a Python code to accomplish these tasks.\n\n'

In [2]:
import pandas as pd

In [3]:
#Sales data
sales_data  =  pd.DataFrame({
    'Order_ID':[1,2,3,4],
    'Product_ID':[101,102,103,104],
    'Quantity':[2,1,3,2],
    'Revenue':[100.34,50.45,156.90,120.67]
})

product_info = pd.DataFrame({
    'Product_ID':[101,102,103],
    'Product_Name':['A','B','C'],
    'Category':['X','Y','Z']
})

In [4]:
#task 1  merge the sales_data and product_info
sales_with_product_info = pd.merge(sales_data,product_info,on='Product_ID')
sales_with_product_info

   Order_ID  Product_ID  Quantity  Revenue Product_Name Category
0         1         101         2   100.34            A        X
1         2         102         1    50.45            B        Y
2         3         103         3   156.90            C        Z

In [6]:
# Task 2: Calculate total revenue generated by each product category
category_revenue = sales_with_product_info.groupby('Category')['Revenue'].sum().reset_index()
category_revenue = category_revenue.sort_values(by='Revenue', ascending=True)
category_revenue
###we can also do the same as below mentioned

  Category  Revenue
1        Y    50.45
0        X   100.34
2        Z   156.90

In [5]:
#task2 calculate the total revenue generated by the each product category
category_revenue  =  sales_with_product_info.groupby('Category')['Revenue'].sum().reset_index().sort_values(by='Revenue',ascending=True)
category_revenue

  Category  Revenue
1        Y    50.45
0        X   100.34
2        Z   156.90

In [7]:
# Task 3: Find product category that generated highest total revenue
max_revenue_category = category_revenue.iloc[-1]['Category']
max_revenue = category_revenue.iloc[-1]['Revenue']
print(f"Product category '{max_revenue_category}' generated the highest total revenue: ${max_revenue}")

Product category 'Z' generated the highest total revenue: $156.9

In [10]:
# Task 4: Calculate average revenue per order
average_revenue_per_order = sales_with_product_info.groupby('Order_ID')['Revenue'].mean().reset_index()
average_revenue_per_order.columns = ['Order_ID', 'Average_Revenue_of_Order']
sales_with_product_info = pd.merge(sales_with_product_info, average_revenue_per_order, on='Order_ID')
sales_with_product_info

,Order_ID,Product_ID,Quantity,Revenue,Product_Name,Category,Average_Revenue_of_Order_x,Average_Revenue_of_Order_y
0,1,101,2,100.34,A,X,100.34,100.34
1,2,102,1,50.45,B,Y,50.45,50.45
2,3,103,3,156.90,C,Z,156.90,156.90

In [9]:
# Display results
print("\nMerged DataFrame (sales_with_product_info):")
print(sales_with_product_info)
print("\nCategory-wise Revenue DataFrame (category_revenue):")
print(category_revenue)

Merged DataFrame (sales_with_product_info):
   Order_ID  Product_ID  Quantity  Revenue Product_Name Category  \
0         1         101         2   100.34            A        X
1         2         102         1    50.45            B        Y
2         3         103         3   156.90            C        Z

   Average_Revenue_of_Order
0                    100.34
1                     50.45
2                    156.90

Category-wise Revenue DataFrame (category_revenue):
  Category  Revenue
1        Y    50.45
0        X   100.34
2        Z   156.90